.Search {
    margin-right: 2rem;
    .form {
        .research {
            background: none;
            border: none;
            border-bottom: white 1px solid;
            color: white;
        }
    }
}