.Trending {
    .trending {
        display: flex;
        flex-direction: row;
        .trendList {
            display: flex;
            overflow-x: scroll; 
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            -ms-overflow-style: none; 

            &::-webkit-scrollbar {
                display: none; 
            }

            .movieItem{
                position: relative;
            }

            .movie {
                flex: 0 0 auto;
                height: 30vh;
                margin-right: 10px;
            }
            .titleMovie {
                font-size: 1vw;
                position: absolute;
                top: 75%;
                left:10%;
                margin-bottom:0;
            }
        }
    }
}